<div class="main">
    <content-header></content-header>
    <div class="content-body">
        <div class="form-group col-lg-12 body-title card">                     
            <p >Search</p>                       
        </div>
        <div class="search-box form-group">   
            <div class="col-lg-12">
                <span class="searh-icon" aria-hidden="true">
                    <i class="fa fa-search"></i>      
                </span>    
                <span class="close-search" aria-hidden="true" >
                    <i class="fa fa-times"
                    (click)="advanceSearchIndicator = !advanceSearchIndicator; keywordValue=''" *ngIf="!advanceSearchIndicator"></i>      
                </span>       
                <span>                
                    <button 
                            *ngIf="advanceSearchIndicator"
                            type="button" 
                            id="btn-adv-search"                            
                            (click)="advanceSearchIndicator = !advanceSearchIndicator; keywordValue=''"
                            class="btn btn-link btnlink-advance-search">Advanced Search 
                    </button>                    
                </span> 
                <ng-template #tipContent>
                    Search by                    
                    <span class="emphasize-key">Transmittal number</span> or 
                    <span class="emphasize-key">Department document number</span> or 
                    <span class="emphasize-key">Check number</span> or
                    <span class="emphasize-key">Firstname</span> or 
                    <span class="emphasize-key">Lastname</span> or 
                    <span class="emphasize-key">Company name</span>
                </ng-template>
                    <input type="text" class="form-control input-search" 
                    placeholder="Search Transmittals"     
                    [ngbTooltip]="tipContent"     
                    placement="top"
                    tooltipClass="search-tooltip"                                                                      
                    #keyword 
                    [(ngModel)]="keywordValue"
                    [disabled]="!advanceSearchIndicator" (keydown.enter)="search(keyword.value)">   
                    <!-- triggers="click" [autoClose]="'inside'"                                  -->
            </div>
         
        </div>
       
        <div class="form-group btn-search-group"  *ngIf="advanceSearchIndicator">     
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" (click)="search(keyword.value)">Search</button> 
                <button type="button" class="btn btn-link btn-clear" (click)="clear()">Clear</button>  
            </div>                      
        </div>
  
      
        <div class="col-lg-12 search-result body-title">                            
                <advance-search id="adv-search" class="col-lg-12" *ngIf="!advanceSearchIndicator" (onReset)="onAdvancedSearchReset($event)"></advance-search>
                <p class="">{{status}}</p>
               
                <data-table-search ></data-table-search>                              
        </div>
        
    </div>
    
</div>

