.full-width-table {
  width: 100%;
}
table{
  
  th.mat-header-cell{
    font-size: 14px;
    font-weight: 600;
  }
  tr.mat-row:nth-child(odd) {background: #f4faff} 
  td.mat-column-transmittalStatus{
    i{
      position: relative;
      left: 25%;
    }
   
  }

}