

$bgColor: #ffffff ;
$buttonLinkColor: #286DA8;
$labelColor:#404040;
$themeColor:#348185;
$appDarkBrown:#404040;
$appOffWhite:#FFFFFE;

$appTeal:#348185;
$appGreen:#488257;
$appBeige:#DDD3B9;

$appBlue:#286DA8;
$appWhite:#FFFFFF;
$appYellow:#F7EBA7;
$appRed:#B7473C;

$navWidth:310px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 300px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;