<div class="main">
   <content-header [title]="'Data Entry'"></content-header>
   <div class="content-body">
       <ng-container [ngSwitch]="currentStep">
            <ng-container [ngTemplateOutlet]="newTransmittal" *ngSwitchCase="steps.New"></ng-container>    
            <ng-container [ngTemplateOutlet]="generateTransmittal" *ngSwitchCase="steps.Generate"></ng-container> 
            <ng-container  *ngSwitchCase="steps.Submit" >
                <create-transmittal [transmittalStep]="steps.Submit" (hideSendVerification)="onHideVerification($event)"></create-transmittal>
            </ng-container> 
            <ng-container *ngSwitchCase="steps.Final">
                <create-transmittal [transmittalStep]="steps.Final" ></create-transmittal>
            </ng-container>
            <div class="d-flex flex-row">
                <div class="form-group col-lg-4" *ngIf="!hideSendVerification">         
                    <button class="btn btn-primary btn-send-verification" (click)="proceed(steps.Final)" *ngIf="currentStep==steps.Submit" [disabled]="!hasDeptDocRecord">Send to Verification</button>            
                    <button type="button" class="btn btn-link btn-clear btn-queue" (click)="proceed(steps.New)">{{currentStep==steps.Submit?'Cancel':'Go back to Queue'}}</button>  
                </div>      
            </div> 
       </ng-container>       
    
   </div>
</div>

<ng-template #newTransmittal>
    <div class="form-group col-lg-12 body-title card">
        <p>Transmittal Queue</p>
    </div>        
    <div class="form-group">
        <div class="col-lg-12">
            <button class="btn btn-primary" (click)="proceed(steps.Generate)">New Transmittal</button>
        </div>            
    </div>
    <div class="col-lg-12 body-title">                                        
        <p>Recent Transmittals</p>
        <data-table-transmittal (onEditting)="proceed(steps.Submit,$event)"></data-table-transmittal>
    </div>
</ng-template>

<ng-template #generateTransmittal>
    <div class="form-group col-lg-12 body-title card">
        <p>Generate Transmittal</p>
    </div>
    <div class="form-group col-lg-3">                       
            <label for="input-transmittal-date">Transmittal Date</label>
            <input matInput [matDatepicker]="picker3" 
            [value]="date" 
            class="form-control" 
            id="input-transmittal-date" 
            (dateInput)="setDate($event)" 
            (setDate)="setDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          
    </div>
    <div class="form-group col-lg-3 pb-2">         
        <button class="btn btn-primary" (click)="proceed(steps.Submit)">Next</button>            
    </div>
</ng-template>

