<div class="form-group col-lg-12 body-title card">
    <p>Generate Transmittal</p>
</div>

<div class="d-flex justify-content-around transmittal-entry-header">
    <div class="">            
        <p>Transmittal Date: {{transmittal?.transmittalDate}}</p>
    </div>
    <div class="">           
        <p>Transmittal Number: {{transmittal?.transmittalNumber}}</p>
    </div>
    <div class="">            
        <p>Total Count: {{transmittalList.length}}</p>
    </div>
    <div class="">            
        <p>Transmittal Total: ${{total()}}</p>
    </div>
    <div class="">            
        <p>Transmittal Status: {{transmittal?.transmittalStatus}}</p>
    </div>
</div>

<div class="list-group">

    <div class="list-group-item list-group-item-action flex-column align-items-start pb-0" 
         *ngFor="let i of transmittalList; let idx=index">
        <div class="d-flex w-100 justify-content-between">
            <p class="section-title"></p>
            <div class="transmittal-edt-del" *ngIf="transmittalStep==steps.Submit" [ngClass]="{'elem-disabled':deptRec==undefined?false: deptRec !== i.departmentDocumentNumber}">
                <i class="fa fa-save m-1" (click)="editDepartmentDocumentRecord(action.Save,i)" 
                                          *ngIf="!i.readOnly"  
                                          [ngClass]="{'elem-disabled': depDocNumberForm.invalid && !depDocNumberForm.pristine}" ></i>
                <i class="fa fa-pencil-alt m-1" (click)="editDepartmentDocumentRecord(action.Read,i)" *ngIf="i.readOnly" 
                ></i>                
                <i class="fa fa-trash-alt m-1" (click)="deleteDepartmentDocumentRecord(idx,i.departmentDocumentNumber)" 
                [ngStyle]="{'color': i.readOnly? '':'grey', 'pointer-events':i.readOnly? 'auto':'none'}"></i>                           
            </div>
        </div>

        <div class="group3 mb-2">
            <div class="row d-flex">        
                <div class="col">
                    <div class="form-row">
                        <div class="pr-3">
                            <p class="transmittal-text-value"> Department Document Number(DDN): {{i.departmentDocumentNumber}}</p>
                        </div>                
                        <div> 
                            <p class="transmittal-text-value">Date Timestamp: {{i.dateTimeStamp}}</p>
                        </div>
                    </div>                
                </div>                                            
                   
            </div>          
        </div> 

        <div class="records">                
            <ng-container *ngTemplateOutlet="(i.readOnly)? readOnlyRecords:editRecords; context: {$implicit:i}" ></ng-container>   
        </div>
       

    </div>
  
</div>

<!-- add new transmittal -->
<div class="card d-flex new-transmittal" *ngIf="transmittalStep==steps.Submit" >
    <form [formGroup]="depDocNumberForm" id="transmittal-entry" class="col-lg-8 p-0" (ngSubmit)="requestDeptDocNumber()" *ngIf="formAction==action.Read">
        <div class="d-flex flex-row new-transmittal-title body-title">
            <p class="col-lg-8">New Department Document</p>
        </div>
        <!-- 1st row -->           
        <div class="d-flex flex-row">                
            <div class="form-group col-lg-4">
                <label for="input-firstname">Firstname</label>
                <input type="text" formControlName="firstName" class="form-control" id="input-firstname">
            </div>
              <div class="form-group col-lg-4">
                <label for="input-lastname">Lastname</label>
                <input type="text" formControlName="lastName" class="form-control" id="input-lastname">
              </div>
              <div class="form-group col-lg-4">
                  <label for="input-company-name">Company Name</label>
                  <input type="text" formControlName="companyName" class="form-control" id="input-company-name">
             </div>
        </div>   
        <!-- 1st row -->

        <!-- 2nd row -->
        <div class="d-flex  flex-row">
            <div class="form-group col-lg-4">
                <label for="input-check-number">Check Number<span class="required-field">*</span></label>
                <input type="number" formControlName="checkNumber" class="form-control" id="input-check-number">
            </div>
              <div class="form-group col-lg-4">
                <label for="input-check-amount">Check Amount<span class="required-field">*</span></label>
                <input type="number" formControlName="checkAmount" class="form-control input-amount" id="input-check-amount">
                <span class="dollar-icon"><i class="fa fa-dollar-sign"></i> </span>
              </div>
              <div class="form-group col-lg-4">
                <label for="option-cash-listing">Cash Listing</label>
                <select id="option-cash-listing" class="form-control" formControlName="cashListing">
                  <option selected></option>
                  <option>Saltwater</option>
                  <option>Freshwater</option>
                  <option>Misc</option>
                </select>
             </div>
        </div> 
        <!-- 2nd row -->

        <!-- 3rd row -->
        <div class="d-flex flex-row">
            <div class="form-group col-lg-12">
                <label for="input-comments">Comments</label>
                <input type="text" formControlName="comments" class="form-control" id="input-comments">
            </div>                
        </div> 
        <!-- 3rd row -->
    </form>
    
</div>
<!-- add new transmittal -->

<!-- transmittal summary -->
<div class="card d-flex card-summary pb-3 pt-3">
    <div class="d-flex flex-row" *ngIf="transmittalStep==steps.Submit">
        <div class="col-lg-3" *ngIf="formAction==action.Read">
            <span class="plus-icon"  [ngClass]="{'elem-disabled': depDocNumberForm.invalid}">
                <i class="fa fa-plus-circle"></i>
            </span>
            <button class="btn btn-add-transmittal" form="transmittal-entry"  [disabled]="depDocNumberForm.invalid">Save/Add New</button>
        </div>
    </div>

</div>
<!-- transmittal summary -->


<ng-template #readOnlyRecords let-model>
         <!-- group 1 -->
         <div class="read" >
            <div class="group1 mb-4">
                <div class="row">
                    <div class="col-2 transmittal-text-value">Firstname:</div>
                    <div class="col-3"><p class="">{{model.firstName}}</p></div>
                    <div class="col-2 transmittal-text-value">Check Number:</div>
                    <div class="col-4"><p class="">{{model.checkNumber}}</p></div>
                </div>
    
                <div class="row">
                    <div class="col-2 transmittal-text-value">Lastname:</div>
                    <div class="col-3"><p class="">{{model.lastName}}</p></div>
                    <div class="col-2 transmittal-text-value">Check Amount:</div>
                    <div class="col-4"><p class="">${{getFormattedAmount(model.checkAmount)}}</p></div>
                </div>
    
                <div class="row">
                    <div class="col-2 transmittal-text-value">Company Name:</div>
                    <div class="col-3"><p class="">{{model.companyName}}</p></div>
                    <div class="col-2 transmittal-text-value">Cash Listing:</div>
                    <div class="col-4"><p class="">{{model.cashListing}}</p></div>
                </div>
            </div>
            <!-- group 1 -->
            
            <!-- group 2 -->
            <div class="comments-section mb-4">
                <div class="row">
                    <div class="col-12 transmittal-text-value">Comments:</div>
                    <div class="col-12"><p class="">{{model.comments}}</p></div>            
                </div>
            </div>
            <!-- group 2 -->
         </div>
         
</ng-template>


<ng-template #editRecords let-model>    
    <!-- group 1 -->
    <div class="edit-transmittal">
        <div class="mb-4">
            <form [formGroup]="depDocNumberForm" class="form-horizontal" >
                <div class="form-row pb-2">
                    <div class="form-row col-lg-4">
                        <label class="control-label col-lg-4" for="input-firstname">First Name:</label>                                       
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="input-firstname" formControlName="firstName">  
                        </div>
                    </div>

                    <div class="form-row col-lg-4">
                        <label class="control-label col-lg-5" for="input-checknumber">Check Number<span class="required-field">*</span></label>                                       
                        <div class="col-lg-7">
                            <input type="number" class="form-control" id="input-checknumber" formControlName="checkNumber">  
                        </div>
                    </div>                   
                </div>    
                
                <div class="form-row pb-2">
                    <div class="form-row col-lg-4">
                        <label class="control-label col-lg-4" for="input-lastname">Last Name:</label>                                       
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="input-lastname" formControlName="lastName">  
                        </div>
                    </div>

                    <div class="form-row col-lg-4">
                        <label class="control-label col-lg-5" for="input-checkamount">Check Amount<span class="required-field">*</span></label>                                       
                        <div class="col-lg-7">
                            <input type="number" class="form-control input-amount" id="input-checkamount" formControlName="checkAmount">  
                            <span class="dollar-icon"><i class="fa fa-dollar-sign"></i> </span>
                        </div>
                    </div>                   
                </div>     

                <div class="form-row pb-2">
                    <div class="form-row col-lg-4">
                        <label class="control-label col-lg-4" for="input-companyname">Company Name:</label>                                       
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="input-companyname" formControlName="companyName">  
                        </div>
                    </div>

                    <div class="form-row col-lg-4">
                        <label class="control-label col-lg-5" for="input-cashlisting">Cash Listing:</label>                                       
                        <div class="col-lg-7">                            
                            <select id="option-cash-listing" class="form-control" formControlName="cashListing">
                                <option [selected]="model.cashListing==item" *ngFor="let item of cashListings">{{item}}</option>                 
                            </select> 
                        </div>
                    </div>                   
                </div>     
                                
                <div class="form-row pb-2">
                    <div class="form-row col-lg-8">
                        <label class="control-label col-lg-2" for="input-comments">Comments:</label>                                       
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="input-comments" [value]="model.comments" formControlName="comments">  
                        </div>
                    </div>                                    
                </div>    
               
            </form>
                       
        </div>
        <!-- group 1 -->
      
    </div>
    
  
</ng-template>


