.plus-icon{
    position: absolute;
    top:9px;
    left: 15px;   
    cursor: pointer;     
}
.btn-add-transmittal{
   margin-left:10px;
   border: 0;
   box-shadow: none;
}

.transmittal-summary{
    padding:20px 0 20px 0;
}

.new-transmittal-title{
    padding-top: 10px;
}

.transmittal-edt-del{
    color: grey;
    cursor: pointer;
}
.card-summary{
    border-bottom: 0;
}
.edit-record{
    input[type="text"]{
        height: 30px;
    }
    p{        
        align-self: center;
        margin:0;
    }
    .row{
        padding-bottom: 5px;
    }
}